<div class="basic-grey index">
  <div class="title"><%= t('messages.welcome') %></div>
  <table>
    <tr>
      <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><%= link_to "Tipos", kinds_path, class: "btn btn-outline-info" %></td>
      <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><%= link_to "Contatos", contacts_path, class: "btn btn-outline-info" %></td>
    </tr>
  </table>
</div>